icecream
requests
pandas
jupyter
openai
openpyxl
spacy
yt-dlp
pyyaml
pydub
librosa
json-repair
resampy
streamlit

whisper-timestamped
onnxruntime

##! gpt-sovits requirements
# pydantic
# soundfile
# flash-attention
# numpy==1.26.4
# scipy
# tensorboard
# numba
# pytorch-lightning
# ffmpeg-python
# onnxruntime
# tqdm
# funasr==1.0.0
# cn2an
# pypinyin
# pyopenjtalk
# g2p_en
# modelscope==1.10.0
# sentencepiece
# transformers
# chardet
# psutil
# jieba_fast
# jieba
# LangSegment>=0.3.1
# wordsegment
# srt
# pyloudnorm