icecream
requests
pandas
jupyter
openai
openpyxl
spacy
whisper_timestamped
yt-dlp
pyyaml
pydub
librosa
json-repair
resampy
streamlit

# sovits
requests
pydub
pydantic
soundfile
flash-attention
numpy
scipy
tensorboard
numba
pytorch-lightning
gradio>=4.29
gradio_client
ffmpeg-python
onnxruntime
tqdm
funasr==1.0.0
cn2an
pypinyin
pyopenjtalk
g2p_en
torchaudio
modelscope==1.10.0
sentencepiece
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment>=0.3.1
wordsegment
srt
pyloudnorm